BitsBack/Datasets/MNIST/raw/train-labels-idx1-ubyte
BitsBack/Datasets/MNIST/raw/t10k-images-idx3-ubyte
BitsBack/Datasets/MNIST/processed/test.pt
BitsBack/__pycache__/datasets.cpython-36.pyc
BitsBack/Datasets/MNIST/raw/t10k-labels-idx1-ubyte
BitsBack/Datasets/MNIST/processed/training.pt
BitsBack/Datasets/MNIST/raw/train-images-idx3-ubyte
